<a href="https://www.kaggle.com/code/stephyromichan/notebookee72e94864?scriptVersionId=200348379" target="_blank"><img align="left" alt="Kaggle" title="Open in Kaggle" src="https://kaggle.com/static/images/open-in-kaggle.svg"></a>

In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [ ]:
df = pd.read_csv('/kaggle/input/crime-data-analysis/Crime_Data_from_2020_to_Present.csv')  # Update with your file path
print(df.head())  # Display the first few rows of the dataframe

In [ ]:
df.info()

In [ ]:
df.shape #view the shape of the dataset (num of row, num of columns)

In [ ]:
df.describe() #descriptive statistics for floating or integer dtype columns

In [ ]:
#categorical columns -> Victim Sex
categorical_column = ['Vict Sex']
for value in categorical_column:
    df[value] = df[value].astype('category')

In [ ]:
df.info()

Data Cleaning

In [4]:
#Missing values
df.isnull().sum()

DR_NO                  0
Date Rptd              0
DATE OCC               0
TIME OCC               0
AREA                   0
AREA NAME              0
Rpt Dist No            0
Part 1-2               0
Crm Cd                 0
Crm Cd Desc            0
Mocodes           145262
Vict Age               0
Vict Sex          138445
Vict Descent      138456
Premis Cd             14
Premis Desc          585
Weapon Used Cd    656471
Weapon Desc       656471
Status                 1
Status Desc            0
Crm Cd 1              11
Crm Cd 2          913763
Crm Cd 3          980327
Crm Cd 4          982574
LOCATION               0
Cross Street      830789
LAT                    0
LON                    0
dtype: int64

In [6]:
cols_to_drop = ['Crm Cd 1','Crm Cd 2','Crm Cd 3','Crm Cd 4','Cross Street','Weapon Used Cd','Weapon Desc']
df.drop(columns=cols_to_drop, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 982638 entries, 0 to 982637
Data columns (total 21 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   DR_NO         982638 non-null  int64
 1   Date Rptd     982638 non-null  object
 2   DATE OCC      982638 non-null  object
 3   TIME OCC      982638 non-null  int64
 4   AREA          982638 non-null  int64
 5   AREA NAME     982638 non-null  object
 6   Rpt Dist No   982638 non-null  int64
 7   Part 1-2      982638 non-null  int64
 8   Crm Cd        982638 non-null  int64
 9   Crm Cd Desc   982638 non-null  object
 10  Mocodes       837376 non-null  object
 11  Vict Age      982638 non-null  int64
 12  Vict Sex      844193 non-null  object
 13  Vict Descent  844182 non-null  object
 14  Premis Cd     982624 non-null  float64
 15  Premis Desc   982053 non-null  object
 16  Status        982637 non-null  object
 17  Status Desc   982638 non-null  object
 18  LOCATION      982638 non-null  object
 19  LAT           982638 non-null  float64
 20  LON           982638 non-null  float64
dtypes: float64(3), int64(7), object(11)
memory usage: 157.4+ MB

In [7]:
#Renaming the columns
new_columns = {
    'Date Rptd':'DateReported',
    'Date OCC' : 'DateofCrime',
    'Time OCC' : 'TimeOccurred',
    'Crm Cd'   : 'CrimeCode',
    'Crm Cd Desc': 'CrimeDescription',
    'Vict Age' : 'VictimAge',
    'Vict Sex' : 'VictimSex',
    'Vict Descent' : 'Ethinicity',
    'LAT' : 'latitude',
    'LON' : 'longitude'
}
df = df.rename(columns = new_columns)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 982638 entries, 0 to 982637
Data columns (total 21 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   DR_NO             982638 non-null  int64
 1   DateReported      982638 non-null  object
 2   DATE OCC          982638 non-null  object
 3   TIME OCC          982638 non-null  int64
 4   AREA              982638 non-null  int64
 5   AREA NAME         982638 non-null  object
 6   Rpt Dist No       982638 non-null  int64
 7   Part 1-2          982638 non-null  int64
 8   CrimeCode         982638 non-null  int64
 9   CrimeDescription  982638 non-null  object
 10  Mocodes           837376 non-null  object
 11  VictimAge         982638 non-null  int64
 12  VictimSex         844193 non-null  object
 13  Ethinicity        844182 non-null  object
 14  Premis Cd         982624 non-null  float64
 15  Premis Desc       982053 non-null  object
 16  Status            982637 non-null  object
 17  Status Desc       982638 non-null  object
 18  LOCATION          982638 non-null  object
 19  latitude          982638 non-null  float64
 20  longitude         982638 non-null  float64
dtypes: float64(3), int64(7), object(11)
memory usage: 157.4+ MB

In [8]:
#duplicate rows
duplicate_row = df[df.duplicated()]

In [9]:
duplicate_row

Empty DataFrame
Columns: [DR_NO, DateReported, DATE OCC, TIME OCC, AREA, AREA NAME, Rpt Dist No, Part 1-2, CrimeCode, CrimeDescription, Mocodes, VictimAge, VictimSex, Ethinicity, Premis Cd, Premis Desc, Status, Status Desc, LOCATION, latitude, longitude]
Index: []

[0 rows x 21 columns]