In [23]:
import pandas as pd
import warnings
pd.set_option('display.max_columns', None)

In [24]:
df = pd.read_csv("Crime_Data_from_2020_to_Present.csv")

## Data Inspection

In [25]:
df.head(20)

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,Mocodes,Vict Age,Vict Sex,Vict Descent,Premis Cd,Premis Desc,Weapon Used Cd,Weapon Desc,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,190326475,03/01/2020 12:00:00 AM,03/01/2020 12:00:00 AM,2130,7,Wilshire,784,1,510,VEHICLE - STOLEN,NaN,0,M,O,101.0,STREET,NaN,NaN,AA,Adult Arrest,510.0,998.0,NaN,NaN,1900 S LONGWOOD AV,NaN,34.0375,-118.3506
1,200106753,02/09/2020 12:00:00 AM,02/08/2020 12:00:00 AM,1800,1,Central,182,1,330,BURGLARY FROM VEHICLE,1822 1402 0344,47,M,O,128.0,BUS STOP/LAYOVER (ALSO QUERY 124),NaN,NaN,IC,Invest Cont,330.0,998.0,NaN,NaN,1000 S FLOWER ST,NaN,34.0444,-118.2628
2,200320258,11/11/2020 12:00:00 AM,11/04/2020 12:00:00 AM,1700,3,Southwest,356,1,480,BIKE - STOLEN,0344 1251,19,X,X,502.0,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",NaN,NaN,IC,Invest Cont,480.0,NaN,NaN,NaN,1400 W 37TH ST,NaN,34.0210,-118.3002
3,200907217,05/10/2023 12:00:00 AM,03/10/2020 12:00:00 AM,2037,9,Van Nuys,964,1,343,SHOPLIFTING-GRAND THEFT ($950.01 & OVER),0325 1501,19,M,O,405.0,CLOTHING STORE,NaN,NaN,IC,Invest Cont,343.0,NaN,NaN,NaN,14000 RIVERSIDE DR,NaN,34.1576,-118.4387
4,220614831,08/18/2022 12:00:00 AM,08/17/2020 12:00:00 AM,1200,6,Hollywood,666,2,354,THEFT OF IDENTITY,1822 1501 0930 2004,28,M,H,102.0,SIDEWALK,NaN,NaN,IC,Invest Cont,354.0,NaN,NaN,NaN,1900 TRANSIENT,NaN,34.0944,-118.3277
5,231808869,04/04/2023 12:00:00 AM,12/01/2020 12:00:00 AM,2300,18,Southeast,1826,2,354,THEFT OF IDENTITY,1822 0100 0930 0929,41,M,H,501.0,SINGLE FAMILY DWELLING,NaN,NaN,IC,Invest Cont,354.0,NaN,NaN,NaN,9900 COMPTON AV,NaN,33.9467,-118.2463
6,230110144,04/04/2023 12:00:00 AM,07/03/2020 12:00:00 AM,900,1,Central,182,2,354,THEFT OF IDENTITY,0930 0929,25,M,H,502.0,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",NaN,NaN,IC,Invest Cont,354.0,NaN,NaN,NaN,1100 S GRAND AV,NaN,34.0415,-118.2620
7,220314085,07/22/2022 12:00:00 AM,05/12/2020 12:00:00 AM,1110,3,Southwest,303,2,354,THEFT OF IDENTITY,0100,27,F,B,248.0,CELL PHONE STORE,NaN,NaN,IC,Invest Cont,354.0,NaN,NaN,NaN,2500 S SYCAMORE AV,NaN,34.0335,-118.3537
8,231309864,04/28/2023 12:00:00 AM,12/09/2020 12:00:00 AM,1400,13,Newton,1375,2,354,THEFT OF IDENTITY,0100,24,F,B,750.0,CYBERSPACE,NaN,NaN,IC,Invest Cont,354.0,NaN,NaN,NaN,1300 E 57TH ST,NaN,33.9911,-118.2521
9,211904005,12/31/2020 12:00:00 AM,12/31/2020 12:00:00 AM,1220,19,Mission,1974,2,624,BATTERY - SIMPLE ASSAULT,0416,26,M,H,502.0,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",400.0,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,624.0,NaN,NaN,NaN,9000 CEDROS AV,NaN,34.2336,-118.4535
10,221804943,01/21/2022 12:00:00 AM,07/01/2020 12:00:00 AM,1335,18,Southeast,1822,2,354,THEFT OF IDENTITY,1822 0930,26,M,B,501.0,SINGLE FAMILY DWELLING,NaN,NaN,IC,Invest Cont,354.0,NaN,NaN,NaN,100 W COLDEN AV,NaN,33.9492,-118.2739
11,221908151,04/12/2022 12:00:00 AM,10/01/2020 12:00:00 AM,1,19,Mission,1988,1,821,SODOMY/SEXUAL CONTACT B/W PENIS OF ONE PERS TO...,0913 2024 1817 0360 1258 0507,8,F,H,501.0,SINGLE FAMILY DWELLING,400.0,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,812.0,821.0,NaN,NaN,13400 RANGOON ST,NaN,34.2285,-118.4258
12,230204214,01/05/2023 12:00:00 AM,02/01/2020 12:00:00 AM,800,2,Rampart,201,2,812,CRM AGNST CHLD (13 OR UNDER) (14-15 & SUSP 10 ...,1251 1258 0913 0400 0500 0522 1817,7,F,W,502.0,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",400.0,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,812.0,860.0,NaN,NaN,900 N MARIPOSA AV,NaN,34.0868,-118.2991
13,221008844,05/06/2022 12:00:00 AM,11/01/2020 12:00:00 AM,130,10,West Valley,1029,1,510,VEHICLE - STOLEN,NaN,0,NaN,NaN,101.0,STREET,NaN,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,VALJEAN ST,VANOWEN AV,34.1939,-118.4859
14,230312288,06/01/2023 12:00:00 AM,02/02/2020 12:00:00 AM,315,3,Southwest,391,2,354,THEFT OF IDENTITY,0100 0928 0929 0935 1822,56,M,B,502.0,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",NaN,NaN,IC,Invest Cont,354.0,NaN,NaN,NaN,4200 SANTO TOMAS DR,NaN,34.0103,-118.3456
15,231805781,02/03/2023 12:00:00 AM,07/01/2020 12:00:00 AM,805,18,Southeast,1802,2,354,THEFT OF IDENTITY,0928 1822,22,F,B,502.0,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",NaN,NaN,IC,Invest Cont,354.0,NaN,NaN,NaN,400 W 90TH ST,NaN,33.9551,-118.2814
16,231322474,12/24/2023 12:00:00 AM,01/09/2020 12:00:00 AM,1200,13,Newton,1354,2,354,THEFT OF IDENTITY,0100,23,M,B,501.0,SINGLE FAMILY DWELLING,NaN,NaN,IC,Invest Cont,354.0,NaN,NaN,NaN,4000 WALL ST,NaN,34.0112,-118.2716
17,210705560,11/27/2020 12:00:00 AM,11/27/2020 12:00:00 AM,1800,7,Wilshire,776,1,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",1309 0400,31,F,O,101.0,STREET,307.0,VEHICLE,AA,Adult Arrest,230.0,NaN,NaN,NaN,4500 LOMITA ST,NaN,34.0452,-118.3351
18,221016258,09/20/2022 12:00:00 AM,01/01/2020 12:00:00 AM,1,10,West Valley,1067,2,956,"LETTERS, LEWD - TELEPHONE CALLS, LEWD",2041 1906 1822,30,F,O,501.0,SINGLE FAMILY DWELLING,NaN,NaN,IC,Invest Cont,956.0,NaN,NaN,NaN,5200 GENESTA AV,NaN,34.1660,-118.5033
19,220705246,02/03/2022 12:00:00 AM,02/11/2020 12:00:00 AM,1200,7,Wilshire,747,1,341,"THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...",NaN,57,F,B,501.0,SINGLE FAMILY DWELLING,NaN,NaN,IC,Invest Cont,341.0,NaN,NaN,NaN,800 S TREMAINE AV,NaN,34.0608,-118.3359

In [26]:
df.info() #to see the information about column names

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 978628 entries, 0 to 978627
Data columns (total 28 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   DR_NO           978628 non-null  int64
 1   Date Rptd       978628 non-null  object
 2   DATE OCC        978628 non-null  object
 3   TIME OCC        978628 non-null  int64
 4   AREA            978628 non-null  int64
 5   AREA NAME       978628 non-null  object
 6   Rpt Dist No     978628 non-null  int64
 7   Part 1-2        978628 non-null  int64
 8   Crm Cd          978628 non-null  int64
 9   Crm Cd Desc     978628 non-null  object
 10  Mocodes         834648 non-null  object
 11  Vict Age        978628 non-null  int64
 12  Vict Sex        841430 non-null  object
 13  Vict Descent    841419 non-null  object
 14  Premis Cd       978613 non-null  float64
 15  Premis Desc     978043 non-null  object
 16  Weapon Used Cd  325959 non-null  float64
 17  Weapon Desc     325959 non-null  object
 18  Status          978627 non-null  object
 19  Status Desc     978628 non-null  object
 20  Crm Cd 1        978617 non-null  float64
 21  Crm Cd 2        68816 non-null   float64
 22  Crm Cd 3        2309 non-null    float64
 23  Crm Cd 4        64 non-null      float64
 24  LOCATION        978628 non-null  object
 25  Cross Street    151427 non-null  object
 26  LAT             978628 non-null  float64
 27  LON             978628 non-null  float64
dtypes: float64(8), int64(7), object(13)
memory usage: 209.1+ MB

In [27]:
df.shape #view the shape of the dataset (num of row, num of columns)

(978628, 28)

In [28]:
df.describe() #descriptive statistics for floating or integer dtype columns

,DR_NO,TIME OCC,AREA,Rpt Dist No,Part 1-2,Crm Cd,Vict Age,Premis Cd,Weapon Used Cd,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LAT,LON
count,9.786280e+05,978628.000000,978628.000000,978628.000000,978628.000000,978628.000000,978628.000000,978613.000000,325959.000000,978617.000000,68816.000000,2309.000000,64.00000,978628.000000,978628.000000
mean,2.196564e+08,1338.802627,10.702561,1116.686084,1.404785,500.810635,29.122904,306.181502,363.815372,500.564847,958.156344,984.192724,991.21875,33.995399,-118.081108
std,1.290395e+07,651.622947,6.107280,610.836054,0.490851,206.309796,21.961531,218.908131,123.673988,206.107451,110.251477,51.506344,27.06985,1.640056,5.684520
min,8.170000e+02,1.000000,1.000000,101.000000,1.000000,110.000000,-4.000000,101.000000,101.000000,110.000000,210.000000,310.000000,821.00000,0.000000,-118.667600
25%,2.106073e+08,900.000000,5.000000,589.000000,1.000000,331.000000,0.000000,101.000000,311.000000,331.000000,998.000000,998.000000,998.00000,34.014600,-118.430500
50%,2.208116e+08,1420.000000,11.000000,1141.000000,1.000000,442.000000,30.000000,203.000000,400.000000,442.000000,998.000000,998.000000,998.00000,34.058900,-118.322500
75%,2.309110e+08,1900.000000,16.000000,1617.000000,2.000000,626.000000,44.000000,501.000000,400.000000,626.000000,998.000000,998.000000,998.00000,34.164900,-118.273900
max,2.499253e+08,2359.000000,21.000000,2199.000000,2.000000,956.000000,120.000000,976.000000,516.000000,956.000000,999.000000,999.000000,999.00000,34.334300,0.000000

In [29]:
#categorical columns -> Victim Sex
categorical_column = ['Vict Sex']
for value in categorical_column:
    df[value] = df[value].astype('category')

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 978628 entries, 0 to 978627
Data columns (total 28 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   DR_NO           978628 non-null  int64
 1   Date Rptd       978628 non-null  object
 2   DATE OCC        978628 non-null  object
 3   TIME OCC        978628 non-null  int64
 4   AREA            978628 non-null  int64
 5   AREA NAME       978628 non-null  object
 6   Rpt Dist No     978628 non-null  int64
 7   Part 1-2        978628 non-null  int64
 8   Crm Cd          978628 non-null  int64
 9   Crm Cd Desc     978628 non-null  object
 10  Mocodes         834648 non-null  object
 11  Vict Age        978628 non-null  int64
 12  Vict Sex        841430 non-null  category
 13  Vict Descent    841419 non-null  object
 14  Premis Cd       978613 non-null  float64
 15  Premis Desc     978043 non-null  object
 16  Weapon Used Cd  325959 non-null  float64
 17  Weapon Desc     325959 non-null  object
 18  Status          978627 non-null  object
 19  Status Desc     978628 non-null  object
 20  Crm Cd 1        978617 non-null  float64
 21  Crm Cd 2        68816 non-null   float64
 22  Crm Cd 3        2309 non-null    float64
 23  Crm Cd 4        64 non-null      float64
 24  LOCATION        978628 non-null  object
 25  Cross Street    151427 non-null  object
 26  LAT             978628 non-null  float64
 27  LON             978628 non-null  float64
dtypes: category(1), float64(8), int64(7), object(12)
memory usage: 202.5+ MB

## Data Cleaning

In [32]:
#Missing values
df.isnull().sum()

DR_NO                  0
Date Rptd              0
DATE OCC               0
TIME OCC               0
AREA                   0
AREA NAME              0
Rpt Dist No            0
Part 1-2               0
Crm Cd                 0
Crm Cd Desc            0
Mocodes           143980
Vict Age               0
Vict Sex          137198
Vict Descent      137209
Premis Cd             15
Premis Desc          585
Weapon Used Cd    652669
Weapon Desc       652669
Status                 1
Status Desc            0
Crm Cd 1              11
Crm Cd 2          909812
Crm Cd 3          976319
Crm Cd 4          978564
LOCATION               0
Cross Street      827201
LAT                    0
LON                    0
dtype: int64

In [ ]:
cols_to_drop = ['Crm Cd 1','Crm cd 2','Crm cd 3','Crm cd 4','Cross Street','Weapon Used Cd','Weapon Desc']

In [35]:
#Renaming the columns
new_columns = {
    'Date Rptd':'DateReported',
    'Date OCC' : 'DateofCrime',
    'Time OCC' : 'TimeOccurred',
    'Crm Cd'   : 'CrimeCode',
    'Crm Cd Desc': 'CrimeDescription',
    'Vict Age' : 'VictimAge',
    'Vict Sex' : 'VictimSex',
    'Vict Descent' : 'Ethinicity',
    'LAT' : 'latitude',
    'LON' : 'longitude'
}
df = df.rename(columns = new_columns)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 978628 entries, 0 to 978627
Data columns (total 28 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   DR_NO             978628 non-null  int64
 1   DateReported      978628 non-null  object
 2   DATE OCC          978628 non-null  object
 3   TIME OCC          978628 non-null  int64
 4   AREA              978628 non-null  int64
 5   AREA NAME         978628 non-null  object
 6   Rpt Dist No       978628 non-null  int64
 7   Part 1-2          978628 non-null  int64
 8   CrimeCode         978628 non-null  int64
 9   CrimeDescription  978628 non-null  object
 10  Mocodes           834648 non-null  object
 11  VictimAge         978628 non-null  int64
 12  VictimSex         841430 non-null  category
 13  Ethinicity        841419 non-null  object
 14  Premis Cd         978613 non-null  float64
 15  Premis Desc       978043 non-null  object
 16  Weapon Used Cd    325959 non-null  float64
 17  Weapon Desc       325959 non-null  object
 18  Status            978627 non-null  object
 19  Status Desc       978628 non-null  object
 20  Crm Cd 1          978617 non-null  float64
 21  Crm Cd 2          68816 non-null   float64
 22  Crm Cd 3          2309 non-null    float64
 23  Crm Cd 4          64 non-null      float64
 24  LOCATION          978628 non-null  object
 25  Cross Street      151427 non-null  object
 26  latitude          978628 non-null  float64
 27  longitude         978628 non-null  float64
dtypes: category(1), float64(8), int64(7), object(12)
memory usage: 202.5+ MB

In [30]:
#duplicate rows
duplicate_row = df[df.duplicated()]

In [31]:
duplicate_row

Empty DataFrame
Columns: [DR_NO, Date Rptd, DATE OCC, TIME OCC, AREA, AREA NAME, Rpt Dist No, Part 1-2, Crm Cd, Crm Cd Desc, Mocodes, Vict Age, Vict Sex, Vict Descent, Premis Cd, Premis Desc, Weapon Used Cd, Weapon Desc, Status, Status Desc, Crm Cd 1, Crm Cd 2, Crm Cd 3, Crm Cd 4, LOCATION, Cross Street, LAT, LON]
Index: []