<a href="https://www.kaggle.com/code/stephyromichan/notebookee72e94864?scriptVersionId=200412661" target="_blank"><img align="left" alt="Kaggle" title="Open in Kaggle" src="https://kaggle.com/static/images/open-in-kaggle.svg"></a>

In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/crime-data-analysis/Crime_Data_from_2020_to_Present.csv

In [2]:
df = pd.read_csv('/kaggle/input/crime-data-analysis/Crime_Data_from_2020_to_Present.csv')  # Update with your file path
print(df.head())  # Display the first few rows of the dataframe
copy_df = df.copy()

       DR_NO               Date Rptd                DATE OCC  TIME OCC  AREA  \
0  190326475  03/01/2020 12:00:00 AM  03/01/2020 12:00:00 AM      2130     7
1  200106753  02/09/2020 12:00:00 AM  02/08/2020 12:00:00 AM      1800     1
2  200320258  11/11/2020 12:00:00 AM  11/04/2020 12:00:00 AM      1700     3
3  200907217  05/10/2023 12:00:00 AM  03/10/2020 12:00:00 AM      2037     9
4  220614831  08/18/2022 12:00:00 AM  08/17/2020 12:00:00 AM      1200     6

   AREA NAME  Rpt Dist No  Part 1-2  Crm Cd  \
0   Wilshire          784         1     510
1    Central          182         1     330
2  Southwest          356         1     480
3   Van Nuys          964         1     343
4  Hollywood          666         2     354

                                Crm Cd Desc  ... Status   Status Desc  \
0                          VEHICLE - STOLEN  ...     AA  Adult Arrest
1                     BURGLARY FROM VEHICLE  ...     IC   Invest Cont
2                             BIKE - STOLEN  ...     IC   Invest Cont
3  SHOPLIFTING-GRAND THEFT ($950.01 & OVER)  ...     IC   Invest Cont
4                         THEFT OF IDENTITY  ...     IC   Invest Cont

  Crm Cd 1 Crm Cd 2  Crm Cd 3 Crm Cd 4  \
0    510.0    998.0       NaN      NaN
1    330.0    998.0       NaN      NaN
2    480.0      NaN       NaN      NaN
3    343.0      NaN       NaN      NaN
4    354.0      NaN       NaN      NaN

                                   LOCATION Cross Street      LAT       LON
0   1900 S  LONGWOOD                     AV          NaN  34.0375 -118.3506
1   1000 S  FLOWER                       ST          NaN  34.0444 -118.2628
2   1400 W  37TH                         ST          NaN  34.0210 -118.3002
3  14000    RIVERSIDE                    DR          NaN  34.1576 -118.4387
4                         1900    TRANSIENT          NaN  34.0944 -118.3277

[5 rows x 28 columns]

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 982638 entries, 0 to 982637
Data columns (total 28 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   DR_NO           982638 non-null  int64
 1   Date Rptd       982638 non-null  object
 2   DATE OCC        982638 non-null  object
 3   TIME OCC        982638 non-null  int64
 4   AREA            982638 non-null  int64
 5   AREA NAME       982638 non-null  object
 6   Rpt Dist No     982638 non-null  int64
 7   Part 1-2        982638 non-null  int64
 8   Crm Cd          982638 non-null  int64
 9   Crm Cd Desc     982638 non-null  object
 10  Mocodes         837376 non-null  object
 11  Vict Age        982638 non-null  int64
 12  Vict Sex        844193 non-null  object
 13  Vict Descent    844182 non-null  object
 14  Premis Cd       982624 non-null  float64
 15  Premis Desc     982053 non-null  object
 16  Weapon Used Cd  326167 non-null  float64
 17  Weapon Desc     326167 non-null  object
 18  Status          982637 non-null  object
 19  Status Desc     982638 non-null  object
 20  Crm Cd 1        982627 non-null  float64
 21  Crm Cd 2        68875 non-null   float64
 22  Crm Cd 3        2311 non-null    float64
 23  Crm Cd 4        64 non-null      float64
 24  LOCATION        982638 non-null  object
 25  Cross Street    151849 non-null  object
 26  LAT             982638 non-null  float64
 27  LON             982638 non-null  float64
dtypes: float64(8), int64(7), object(13)
memory usage: 209.9+ MB

In [4]:
df.shape #view the shape of the dataset (num of row, num of columns)

(982638, 28)

In [5]:
df.describe() #descriptive statistics for floating or integer dtype columns

,DR_NO,TIME OCC,AREA,Rpt Dist No,Part 1-2,Crm Cd,Vict Age,Premis Cd,Weapon Used Cd,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LAT,LON
count,9.826380e+05,982638.000000,982638.000000,982638.000000,982638.000000,982638.000000,982638.000000,982624.000000,326167.000000,982627.000000,68875.000000,2311.000000,64.00000,982638.000000,982638.000000
mean,2.197437e+08,1338.945426,10.700277,1116.459887,1.404253,500.823555,29.079817,306.133008,363.840882,500.578668,958.167085,984.204673,991.21875,33.995725,-118.082225
std,1.294954e+07,651.537830,6.107808,610.893787,0.490747,206.211940,21.970094,219.053795,123.684663,206.010361,110.232109,51.485644,27.06985,1.636729,5.672940
min,8.170000e+02,1.000000,1.000000,101.000000,1.000000,110.000000,-4.000000,101.000000,101.000000,110.000000,210.000000,310.000000,821.00000,0.000000,-118.667600
25%,2.106089e+08,900.000000,5.000000,587.000000,1.000000,331.000000,0.000000,101.000000,311.000000,331.000000,998.000000,998.000000,998.00000,34.014600,-118.430500
50%,2.208146e+08,1420.000000,11.000000,1141.000000,1.000000,442.000000,30.000000,203.000000,400.000000,442.000000,998.000000,998.000000,998.00000,34.058900,-118.322500
75%,2.309153e+08,1900.000000,16.000000,1617.000000,2.000000,626.000000,44.000000,501.000000,400.000000,626.000000,998.000000,998.000000,998.00000,34.164900,-118.273900
max,2.499253e+08,2359.000000,21.000000,2199.000000,2.000000,956.000000,120.000000,976.000000,516.000000,956.000000,999.000000,999.000000,999.00000,34.334300,0.000000

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 982638 entries, 0 to 982637
Data columns (total 28 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   DR_NO           982638 non-null  int64
 1   Date Rptd       982638 non-null  object
 2   DATE OCC        982638 non-null  object
 3   TIME OCC        982638 non-null  int64
 4   AREA            982638 non-null  int64
 5   AREA NAME       982638 non-null  object
 6   Rpt Dist No     982638 non-null  int64
 7   Part 1-2        982638 non-null  int64
 8   Crm Cd          982638 non-null  int64
 9   Crm Cd Desc     982638 non-null  object
 10  Mocodes         837376 non-null  object
 11  Vict Age        982638 non-null  int64
 12  Vict Sex        844193 non-null  object
 13  Vict Descent    844182 non-null  object
 14  Premis Cd       982624 non-null  float64
 15  Premis Desc     982053 non-null  object
 16  Weapon Used Cd  326167 non-null  float64
 17  Weapon Desc     326167 non-null  object
 18  Status          982637 non-null  object
 19  Status Desc     982638 non-null  object
 20  Crm Cd 1        982627 non-null  float64
 21  Crm Cd 2        68875 non-null   float64
 22  Crm Cd 3        2311 non-null    float64
 23  Crm Cd 4        64 non-null      float64
 24  LOCATION        982638 non-null  object
 25  Cross Street    151849 non-null  object
 26  LAT             982638 non-null  float64
 27  LON             982638 non-null  float64
dtypes: float64(8), int64(7), object(13)
memory usage: 209.9+ MB

### Data Cleaning

In [7]:
#Missing values
df.isnull().sum()

DR_NO                  0
Date Rptd              0
DATE OCC               0
TIME OCC               0
AREA                   0
AREA NAME              0
Rpt Dist No            0
Part 1-2               0
Crm Cd                 0
Crm Cd Desc            0
Mocodes           145262
Vict Age               0
Vict Sex          138445
Vict Descent      138456
Premis Cd             14
Premis Desc          585
Weapon Used Cd    656471
Weapon Desc       656471
Status                 1
Status Desc            0
Crm Cd 1              11
Crm Cd 2          913763
Crm Cd 3          980327
Crm Cd 4          982574
LOCATION               0
Cross Street      830789
LAT                    0
LON                    0
dtype: int64

In [8]:
cols_to_drop = ['Crm Cd 1','Crm Cd 2','Crm Cd 3','Crm Cd 4','Cross Street','Weapon Used Cd','Weapon Desc']
df.drop(columns=cols_to_drop, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 982638 entries, 0 to 982637
Data columns (total 21 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   DR_NO         982638 non-null  int64
 1   Date Rptd     982638 non-null  object
 2   DATE OCC      982638 non-null  object
 3   TIME OCC      982638 non-null  int64
 4   AREA          982638 non-null  int64
 5   AREA NAME     982638 non-null  object
 6   Rpt Dist No   982638 non-null  int64
 7   Part 1-2      982638 non-null  int64
 8   Crm Cd        982638 non-null  int64
 9   Crm Cd Desc   982638 non-null  object
 10  Mocodes       837376 non-null  object
 11  Vict Age      982638 non-null  int64
 12  Vict Sex      844193 non-null  object
 13  Vict Descent  844182 non-null  object
 14  Premis Cd     982624 non-null  float64
 15  Premis Desc   982053 non-null  object
 16  Status        982637 non-null  object
 17  Status Desc   982638 non-null  object
 18  LOCATION      982638 non-null  object
 19  LAT           982638 non-null  float64
 20  LON           982638 non-null  float64
dtypes: float64(3), int64(7), object(11)
memory usage: 157.4+ MB

In [9]:
#Renaming the columns
new_columns = {
    'Date Rptd':'DateReported',
    'DATE OCC' : 'DateofCrime',
    'TIME OCC' : 'TimeOccurred',
    'Crm Cd'   : 'CrimeCode',
    'Crm Cd Desc': 'CrimeDescription',
    'Vict Age' : 'VictimAge',
    'Vict Sex' : 'VictimSex',
    'Vict Descent' : 'Ethinicity',
    'LAT' : 'latitude',
    'LON' : 'longitude'
}
df = df.rename(columns = new_columns)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 982638 entries, 0 to 982637
Data columns (total 21 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   DR_NO             982638 non-null  int64
 1   DateReported      982638 non-null  object
 2   DateofCrime       982638 non-null  object
 3   TimeOccurred      982638 non-null  int64
 4   AREA              982638 non-null  int64
 5   AREA NAME         982638 non-null  object
 6   Rpt Dist No       982638 non-null  int64
 7   Part 1-2          982638 non-null  int64
 8   CrimeCode         982638 non-null  int64
 9   CrimeDescription  982638 non-null  object
 10  Mocodes           837376 non-null  object
 11  VictimAge         982638 non-null  int64
 12  VictimSex         844193 non-null  object
 13  Ethinicity        844182 non-null  object
 14  Premis Cd         982624 non-null  float64
 15  Premis Desc       982053 non-null  object
 16  Status            982637 non-null  object
 17  Status Desc       982638 non-null  object
 18  LOCATION          982638 non-null  object
 19  latitude          982638 non-null  float64
 20  longitude         982638 non-null  float64
dtypes: float64(3), int64(7), object(11)
memory usage: 157.4+ MB

In [10]:
#duplicate rows
duplicate_row = df[df.duplicated()]

In [11]:
duplicate_row

Empty DataFrame
Columns: [DR_NO, DateReported, DateofCrime, TimeOccurred, AREA, AREA NAME, Rpt Dist No, Part 1-2, CrimeCode, CrimeDescription, Mocodes, VictimAge, VictimSex, Ethinicity, Premis Cd, Premis Desc, Status, Status Desc, LOCATION, latitude, longitude]
Index: []

[0 rows x 21 columns]

In [12]:
#categorical columns -> Victim Sex
categorical_column = ['VictimSex','Status','Part 1-2']
for value in categorical_column:
    df[value] = df[value].astype('category')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 982638 entries, 0 to 982637
Data columns (total 21 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   DR_NO             982638 non-null  int64
 1   DateReported      982638 non-null  object
 2   DateofCrime       982638 non-null  object
 3   TimeOccurred      982638 non-null  int64
 4   AREA              982638 non-null  int64
 5   AREA NAME         982638 non-null  object
 6   Rpt Dist No       982638 non-null  int64
 7   Part 1-2          982638 non-null  category
 8   CrimeCode         982638 non-null  int64
 9   CrimeDescription  982638 non-null  object
 10  Mocodes           837376 non-null  object
 11  VictimAge         982638 non-null  int64
 12  VictimSex         844193 non-null  category
 13  Ethinicity        844182 non-null  object
 14  Premis Cd         982624 non-null  float64
 15  Premis Desc       982053 non-null  object
 16  Status            982637 non-null  category
 17  Status Desc       982638 non-null  object
 18  LOCATION          982638 non-null  object
 19  latitude          982638 non-null  float64
 20  longitude         982638 non-null  float64
dtypes: category(3), float64(3), int64(6), object(9)
memory usage: 137.8+ MB

In [13]:
# Convert the 'date_column' to DateTime format
df['DateReported'] = pd.to_datetime(df['DateReported'], format='%m/%d/%Y %I:%M:%S %p')
df['DateofCrime'] = pd.to_datetime(df['DateofCrime'], format='%m/%d/%Y %I:%M:%S %p')
# Extract only the date part (removing time)
df['DateReported'] = df['DateReported'].dt.date
df['DateofCrime'] = df['DateofCrime'].dt.date

In [14]:
#Convert the time column to Time format
df['TimeOccurred'] = copy_df['TIME OCC']
df['TimeOccurred'] = df['TimeOccurred'].astype(str)
df['TimeOccurred'] = df['TimeOccurred'].str.zfill(4)
df['TimeOccurred'] = df['TimeOccurred'].str[:2]+":"+df['TimeOccurred'].str[2:]+":00"
df['TimeOccurred'] = pd.to_datetime(df['TimeOccurred'],format="%H:%M:%S").dt.time
df['TimeOccurred']

0         21:30:00
1         18:00:00
2         17:00:00
3         20:37:00
4         12:00:00
            ...
982633    23:00:00
982634    14:00:00
982635    01:00:00
982636    15:00:00
982637    23:00:00
Name: TimeOccurred, Length: 982638, dtype: object

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 982638 entries, 0 to 982637
Data columns (total 21 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   DR_NO             982638 non-null  int64
 1   DateReported      982638 non-null  object
 2   DateofCrime       982638 non-null  object
 3   TimeOccurred      982638 non-null  object
 4   AREA              982638 non-null  int64
 5   AREA NAME         982638 non-null  object
 6   Rpt Dist No       982638 non-null  int64
 7   Part 1-2          982638 non-null  category
 8   CrimeCode         982638 non-null  int64
 9   CrimeDescription  982638 non-null  object
 10  Mocodes           837376 non-null  object
 11  VictimAge         982638 non-null  int64
 12  VictimSex         844193 non-null  category
 13  Ethinicity        844182 non-null  object
 14  Premis Cd         982624 non-null  float64
 15  Premis Desc       982053 non-null  object
 16  Status            982637 non-null  category
 17  Status Desc       982638 non-null  object
 18  LOCATION          982638 non-null  object
 19  latitude          982638 non-null  float64
 20  longitude         982638 non-null  float64
dtypes: category(3), float64(3), int64(5), object(10)
memory usage: 137.8+ MB

In [16]:
#dealing with negative age group
mean_age = round(df.loc[df['VictimAge'] >= 0, 'VictimAge'].mean())
print("mean_age after excluding negative values ",mean_age)

#replace the negative age with mean age
df['VictimAge'] = df['VictimAge'].apply(lambda x: mean_age if x <= 0 else x)

df.loc[df['VictimAge'] <= 0]

mean_age after excluding negative values  29

Empty DataFrame
Columns: [DR_NO, DateReported, DateofCrime, TimeOccurred, AREA, AREA NAME, Rpt Dist No, Part 1-2, CrimeCode, CrimeDescription, Mocodes, VictimAge, VictimSex, Ethinicity, Premis Cd, Premis Desc, Status, Status Desc, LOCATION, latitude, longitude]
Index: []

[0 rows x 21 columns]